@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Microsoft YaHei;
}
body{min-width: 1080px}
/*公共类*/
.l{float: left}.r{float: right}.c{display: block;clear: both;}
/*首页*/
.fixed{position:absolute;bottom:80px;left:50%;z-index:100;margin-left:-40px;width:85px;height:60px;background:url(../img/mouse.png) no-repeat center;background-size:cover;animation:1s toBottom infinite;}
@keyframes toBottom{100%{bottom:60px;}
}
header{position:fixed;top:0;left:0;z-index:1000;width:100%;background:rgba(255,255,255,1);box-shadow:0 0 2px #ccc;}
.head{margin:0 auto;width:1000px;height:65px;line-height:62px;}
header img{margin-top:12px;}
.nav li a{display:block;color:#606060;}
.nav li{position:relative;float:left;padding:0 13px;}
.nav li.on a{border-bottom:3px solid #c83035;color:#c83035;}
.hide-box{position:absolute;left:0;z-index:1000;display:none;padding-top:8px;background:0 0;}
.hidebox{position:relative;overflow:hidden;width:360px;height:300px;background:rgba(255,255,255,.8);}
.hidebox:before{position:absolute;top:8px;left:0;display:block;width:82px;height:25px;background:#fff;content:'';}
.hidebox:after{position:absolute;bottom:0;left:0;display:block;width:82px;height:30px;background:#fff;content:'';}
.itemlist{overflow-y:auto;width:85px;height:300px;}
.itemlist li{height:35px;background:#fff;font-size:14px;line-height:35px;cursor:pointer;}
.itemlist li:first-child{padding-top:25px;}
.itemlist li:last-child{padding-bottom:25px;}
.itemlist li.on{background:0 0;color:#c83035;}
.hidebox img{display:block;width:260px;}
.hidebox .txt{margin-right:8px;}
.hidebox .txt p{color:#909090;text-align:right;font-size:12px;line-height:20px;}
.hidebox .t-detail{overflow-y:auto;margin-top:15px;width:260px;height:88px;color:#606060;text-align:justify;font-size:13px;line-height:20px;}
/*头部*/

/*内容区*/
.content{  width: 100%;  }
.c{  margin-top: 65px;  }
/*轮播图*/
.Scroll1{position:relative;z-index:10}
.Scroll1 .btns{position:absolute;bottom:15px;left:50%;overflow:hidden;margin-left:-266px}
.Scroll1 .btns li{float:left;margin-right:10px;width:100px;height:5px;background:#fff;opacity:.8;cursor:pointer}
.Scroll1 .btns li.on{background:#c83035}
.cont1{height:430px;background:#e6e6e6}
.cont2{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:15px;height:270px;background:#f2f2f2}
.warp{margin:0 auto;padding:0 20px;width:1000px}
.cont h3{position:relative;height:60px;color:#323232;font-size:18px;line-height:57px}
.cont h3 span.small{color:#909090;font-size:14px}
.cont h3 .line{position:absolute;bottom:14px;display:block;width:34px;height:2px;background:#c83035}
.txtlist{width:100%}
.txtlist li{width:100%;height:330px}
.txtlist2 li{height:auto}
.imgbox{width:49%}
.listtxt{width:50%}
.imgbox img{display:block;width:100%;height:215px}
.txtdetail{padding:12px 10px;background:#f2f2f2}
.imgbox .txtdetail:before{position:absolute;top:0;display:block;width:0;height:0;border:6px solid transparent;content:'';border-bottom-color:#f2f2f2}
.imgbox .txtdetail{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px 10px 18px;height:100px;box-shadow:5px 5px 10px #d6d6d6}
.txtdetail p{overflow:hidden;line-height:20px}
.title{color:#c83035;font-size:14px}
.date{color:#909090;font-size:12px}
.txt-cont{display:-webkit-box;overflow:hidden;margin-top:2px;height:40px;color:#909090;text-align:justify;text-overflow:ellipsis;font-size:12px;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.more{position:relative;margin-right:12px;color:#c83035;font-weight:600;font-size:12px}
.more:after{position:absolute;top:5px;right:-12px;display:block;border:4px solid transparent;content:'';border-left-color:#606060}
.listtxt .txtdetail{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-sizing:border-box;width:100%;height:105px;border-bottom:1px solid #ccc}
.listtxt .txtdetail:last-child{border:none}
.r.listtxt .more{color:#606060;font-weight:400}
.r.listtxt .title{color:#606060}
.r.listtxt .txt-cont{margin-top:5px}
.pageState{margin-right:10px;color:#999;font-size:12px;line-height:28px}
.pageState i{color:#ccc}
.step a{float:left;display:block;width:25px;height:25px;border:1px solid #cdcdcd;background:url(../img/arrowleft.png) center no-repeat;background-size:cover}
.step .next{background-image:url(../img/next-on.png);border-left: none}
.cont2 .step .next{background-image:url(../img/next-on.png);
    /*box-shadow:none;border-color:#cdcdcd;background-color:transparent;*/
}
.step a:hover{border-color:#c83035;background-color:#c83035;box-shadow:0 5px 10px #b7d3e2;background-image: url("../img/arrowleft-on.png")}
.step  .next:hover{border-color:#c83035;background-color:#c83035;box-shadow:0 5px 10px #b7d3e2;background-image:url(../img/arrowright.png)}
.cont1 .listbox{overflow:hidden;margin:0 auto;width:1000px}
.cont2 .listbox{position:relative;overflow:hidden;margin:0 auto;width:1000px}
.col-3{display:block;margin-left:70px;width:285px;height:150px}
.cont2 .listbox li .col-3:first-child{margin-left:0}
.kown{color:#c83035;font-size:14px}
.t-title{overflow:hidden;color:#606060;text-overflow:ellipsis;white-space:nowrap;font-size:16px;margin-bottom: 10px;}
.t-cont{overflow:hidden;height:75px;color:#909090;text-align:justify;text-overflow:ellipsis;font-size:14px}
.t-more{overflow:hidden;margin-top:15px}
.leftarrow{margin-top:5px;margin-left:5px;width:20px;height:10px;background:url(../img/leftarrow.png) no-repeat center}

/*第三部分*/
.cont3{position:relative;}
.cont3 .Scroll1{position:absolute;top:0;left:0;z-index:-1;width:100%;}
.cont3 .model{position:absolute;top:0;left:0;z-index:1;overflow:hidden;width:100%;font-size:14px;}
.cont3 .model li{position:relative;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:25%;border-right:1px solid rgba(255,255,255,.3);}
.cont3 .model li:last-child{border:none;}
.cont3 .model li:hover{background:rgba(0,0,0,.4);}
.cont3 .model li:hover .more-txt{opacity:1;}
.model-txt{position:absolute;top:50%;left:50px;margin-top:-90px;height:180px;color:#fff;}
.cout{margin-top:15px;}
.actiy{margin:35px 0;font-size:20px;}
.more-txt{position:relative;display:none;margin-bottom:20px;width:120px;height:30px;background:#eae8e9;color:#323232;text-indent:35px;line-height:30px;opacity:0;}
.more-txt:after{position:absolute;top:10px;left:81px;display:block;border:5px solid transparent;content:'';border-left-color:#323232;}
.line{display:block;width:20px;height:2px;background:#eae8e9;}
footer{padding:38px 0 20px;width:100%;background:#323232;}
.foot{overflow:hidden;padding-bottom:45px;}
.f-txtbox{padding:20px 0;border-top:1px solid #464646;color:#fff;text-align:center;font-size:14px;line-height:30px;}
.f-btn{display:block;margin-bottom:20px;width:120px;height:30px;border-radius:15px;background:#f5f5f5;color:#323232;text-align:center;font-size:14px;line-height:30px;}
.foot .list{margin-top:6px;margin-left:75px;}
.foot .list a{display:block;margin-top:20px;color:#fff;font-size:16px;}
.foot .r{margin-top:25px;}
.foot .list li{float:left;margin-left:50px;}
.bgimg{position:relative;}
.bgimg li{position:absolute;display:none;}
.foot .icon{display:block;margin-right:10px;width:22px;height:22px;}
.foot .list .f-tit{margin-top:5px;margin-bottom:35px;line-height:40px;}
.foot .list .f-tit .line{width:30px;}

/*新闻详情*/
.c .top{margin-bottom:18px;padding:22px 0 10px;font-size:13px;}
.c .top img{margin:1px 8px 0 0;height:16px;}
.newsDetail .warp1{margin:0 auto;width:810px;}
.newsDetail .n-tit{overflow:hidden;margin-bottom:18px;border-bottom:1px solid #eee;}
.newsDetail .n-tit span{display:block;margin-right:15px;width:50px;color:#ac3338;text-align:right;font-size:16px;font-weight: 600}
.newsDetail .n-tit span:first-child{margin-bottom:-2px;color:#868a8e;font-size:14px;line-height:15px;margin-top: -1px;font-weight: 100}
.newsDetail .n-tit p{font-weight:600;font-size:18px;line-height:40px;
    color: #323232;}
.newsDetail .n-cont{padding-bottom:120px;text-align:justify;font-size:14px;line-height:25px;
    color: #606060;}
.newsDetail .n-cont img{display:block;margin:10px 0 15px;width:100%;box-shadow:0 5px 18px #dcdcdc;}
/*招聘*/
.recruit{overflow:hidden;min-height:1400px;background-color:#f2f2f2;}
.recruit .r-top{overflow:hidden;margin-bottom:20px;border-bottom:2px solid #ac3439;height:29px;line-height:26px}
.recruit .r-top span{margin-right:15px;padding:8px 12px;color:#222;text-align:center;font-size:13px;cursor:pointer;}
.recruit .r-top span.on{background-color:#ac3439;color:#fff;}
.r-cont a{position:relative;display:block;width:100%;color:#606060;font-size:15px;}
.item{display:none;margin-top:-2px;}
.list-r{margin-right:-22px;text-align:justify;}
.list-r:after{clear:both;display:block;content:'';}
.r-cont .item:first-child{display:block;}
.recruit .t-c{margin-bottom:90px;}
.list-r-top{margin:0 15px;padding:9px 0 15px 3px;border-bottom:1px dashed #dadada;}
.list-r-top p:first-child{text-indent:18px;}
.list-r-top p{text-indent:18px;line-height:30px; font-size:14px}
.list-r img{position:absolute;top:1px;left:7px;width:18px}
.list-r li{float:left;display:inline-block;margin-bottom:25px;margin-right:10px;width:32%;background-color:#fff;}
.list-r li:hover{box-shadow:0 5px 15px #ccc;}
.list-r span.r-name{color:#333;font-weight:600;font-size:16px;}
.list-r span.time{color:#909090;font-size:12px;}
.list-r .r-detail{display:-webkit-box;overflow:hidden;box-sizing:border-box;margin:0 auto;margin-bottom:15px;padding:10px 0 0 3px;width:80%;height:55px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:24px;font-size:14px}

/*招聘详情*/
.r-details span{display:inline-block;margin-bottom:20px;color:#909090;font-size:13px;}
.r-details span i{float:left;display:block;margin-right:2px;width:20px;height:18px;background:url(../img/img.png);background-position:0 -36px;}
.r-details span i.pnum{margin-right:5px;background-position:0 -18px;}
.r-details span i.pmoney{background-position:0 0;}
.rDetail-list p{overflow:hidden;margin-bottom:12px;padding-left:30px;font-size:14px;}
.rDetail-list li{padding:15px 0 20px;border-top:1px solid #e6e6e6;}
.rDetail-list li i{float:left;display:block;margin-right:5px;width:30px;height:30px;background:url(../img/img.png) 0 0;background-position:0 -54px;}
.rDetail-list li i.didian{background-position:0 -84px;}
.rDetail-list li i.buchong{background-position:0 -114px;}
.rDetail-list em{float:left;display:block;margin-right:8px;width:18px;height:18px;border:1px solid #333;border-radius:50%;text-align:center;font-style:normal;font-size:12px;line-height:18px;}
.rd-l-tit{display:block;overflow:hidden;margin-bottom:10px;font-size:18px;line-height:45px;}
.rd-txt .blue{color:#4455fc;}
.rd-txt{overflow:hidden;padding-left:60px;font-size:14px;}
.rd-txt span{display:block;max-width:663px;line-height:25px;}
.rd-txt .cir{margin-top:7px;margin-right:5px;width:7px;height:7px;border-radius:50%;background-color:#ac3439;}
/*新闻*/
.news .new-item-img{margin-top:15px;width:45%;min-height:215px;box-shadow:0 5px 15px #ededed;}
.new-item{display:block;overflow:hidden;margin-bottom:30px;padding-bottom:20px;border-bottom:1px dotted #e6e6e6;color:#606060;}
.new-item:last-child{border:none;}
.news .nodata{display:none;padding:20px 0 160px;color:#ccc;text-align:center;font-size:15px;}
.new-item .new-w{width:53.6%;}
.news .n-tit{margin-bottom:14px;width:100%;text-align:justify;}
.news .n-cont{padding-bottom:0;width:100%;font-size:13px;line-height:21px;-webkit-text-size-adjust:none;}
.n-cont .t-more{margin-top:0;}

/*联系我们*/
.contact img{width:100%;vertical-align:bottom;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.contact .top{position:absolute;}
.contact .map .t-detail{position:absolute;top:35%;left:40%;padding:10px 20px 30px;border-radius:10px;background-color:#fff;color:#909090;font-size:13px;}
.contact .map .t-detail:hover{box-shadow:0 5px 15px #dfdfdf;}
.contact .map{position:relative;}
.contact .t-detail img{display:block;margin-bottom:5px;width:40px;height:35px;}
.contact .t-detail p:last-child{margin-top:10px;width:190px;color:#323232;font-weight:600;font-size:20px;line-height:30px;}
.contact .map .t-detail1{left:65%;}

/*关于晟邦*/
.about-top{width:100%;background-color:#f5f5f5;}
.about-top .top{margin-bottom:0;}
.about-item{overflow:hidden;margin-top:44px;margin-bottom:40px;padding-bottom:53px;border-bottom:1px solid #f5f5f5;}
.box-img{position:relative;overflow:hidden;width:45.8%;height:400px;}
.box-img .hide-img{overflow:hidden;}
.box-img img{margin-top:-300px;width:100%;box-shadow:0 5px 15px #ededed;}
.show-lead{position:absolute;bottom:-175px;left:50%;overflow:hidden;padding:4px 20px;width:200px;border-left:1px solid #323232;color:#323232;font-size:12px;line-height:26px;}
.show-lead1{left:0;border-right:1px solid #323232;border-left:none;text-align:right;}
.box-txt{display:none;width:52.5%;text-align:justify;}
.box-txt .tit{color:#323232;font-weight:700;font-size:26px;line-height:60px;}
.box-txt .txt{font-size:13px;-webkit-text-size-adjust:none;line-height: 28px}

/*发展历程*/
.delop .del-Scroll1 li{min-height:300px;}
.delop .bgbox{min-height:615px;background:url(../img/del-img.jpg) no-repeat 0 0;background-size:cover;}
.delop .map{position:relative;top:0;}
.delop .del-Scroll1{position:relative;top:75px;margin:0 auto;width:85%;min-height:300px;}
.delop .del-Scroll1 .btns{position:absolute;right:-50px;bottom:-80px;}
.delop .del-Scroll1 .ti{margin-bottom:70px;margin-left:-70px;color:#323232;font-weight:600;font-size:22px;}
.manage-scroll .ti{margin-top:85px;color:#323232;font-weight:600;font-size:22px;}
.del-Scroll1 .btn{position:absolute;top:60%;margin-top:-10px;width:35px;height:35px;background:url(../img/prev.png) no-repeat 0 0;}
.del-Scroll1 .btn.prev{left:-50px;}
.del-Scroll1 .btn.next{right:-50px;background-image:url(../img/nex.png);}
.delop .btns li{float:left;margin-top:2px;margin-right:8px;width:20px;height:2px;min-height:2px;background-color:#323232;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;}
.delop .btns li.on{margin-top:0;height:5px;min-height:5px;background-color:#323232;}
.delop .del-Scroll1 li .line{position:absolute;top:50%;z-index:0;width:100%;height:1px;background-color:#323232;}
.item-del{position:absolute;top:35px;left:20%;margin-left:-19%;padding:8px;max-width:20%;min-height:70px;background-color:#c82f35;color:#fff;cursor:pointer;}
.item-del:hover{background-color:#e82b32;}
.item-del:hover .cir span{background-color:#e82b32;}
.item-del:nth-child(2n+1){top:181px;}
.item-del.del1{left:40%;}
.item-del.del2{left:60%;}
.item-del.del3{left:80%;}
.item-del.del4{left:100%;}
.item-del .tit{position:relative;overflow:hidden;margin-bottom:15px;font-size:18px;}
.item-del .cir{position:absolute;bottom:-40px;left:50%;box-sizing:border-box;margin-left:-12px;padding:5px;width:20px;height:20px;border:1px solid #323232;border-radius:50%;background-color:#fff;}
.item-del .cir span{display:block;width:8px;height:8px;border-radius:50%;background-color:#323232;}
.item-del:nth-child(2n+1) .cir{top:-40px;}
.item-del:nth-child(2n+1) .sanjiao{position:absolute;top:-12px;right:50%;margin-left:-6px;height:0;border-color:transparent transparent #c82f35 transparent;border-style:solid;border-width:6px;}
.item-del .sanjiao{position:absolute;bottom:-12px;left:50%;margin-left:-6px;border-color:#c82f35 transparent transparent transparent;border-style:solid;border-width:6px;}
.item-del .tit .r{position:absolute;top:4px;right:-4px;border-color:transparent transparent transparent #fff;border-style:solid;border-width:5px;}
.item-del .txt{font-size:12px;line-height: 25px;}
.delop .m-txt{float:right;overflow:hidden;width:526px;}
.delop .m-txt li{float:left;margin-left:25px;font-size:12px;line-height:30px;}
.delop .t-t{clear:both;margin:72px 0 20px;text-align:right;font-weight:600;font-size:15px;}
.delop .txtbox{box-sizing:border-box;margin-top:10px;padding:13px 8px;min-width:151px;min-height:200px;background-color:#323232;box-shadow:0 2px 8px #323232;color:#fff;font-size:12px;line-height:25px;}
.delop .t-line{margin:14px -8px;width:120px;height:1px;background:#777;}
.delop .txtlist li{height:auto;}
.delop .txtbox p:first-child{font-size:13px;}
.delop .txtbox p:nth-child(2){font-size:15px;}
.Mscroll li div.mybox{float:left;overflow:hidden;margin-bottom:15px;width:50%;}
.Mscroll .Mimgbox{position:relative;z-index:-1;overflow:hidden;width:81.5%;}
.Mscroll{overflow:hidden;}
.Mscroll .mybox:nth-child(2n+1) .Mimgbox{margin-left:-75px;}
.Mscroll .mybox:nth-child(2n) .Mimgbox{margin-right:-75px;}
.delop .tab-hd{margin:30px 0;}
.delop .txtlist li .mybox:nth-child(2n+1) .txtbox.l{margin-left:10px;}
.delop .mybox:hover .txtbox{box-shadow:0 5px 15px #323232;}
.delop .mybox:hover .Mimgbox img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1,1);transform:scale(1.1);}
.delop .txtlist li .mybox:nth-child(2n) .txtbox.r{margin-right:10px;}
/*媒体查询*/
@media screen and (min-width: 1960px) {
    .head{height:100px;line-height:100px;width:1200px}
    .cont1{height:600px}
    .cont h3{height:75px;line-height:72px;font-size:22px}
    .cont h3 .line{width:45px}
    .imgbox .txtdetail{height:140px}
    .cont1 .listbox,.cont2 .listbox,.warp{width:1200px}
    .col-3{width:350px;margin-left:75px;}
    header img{margin-top:28px}
    .cont1 .txtlist li{height:460px}
    .title{font-size:18px}
    .date{font-size:14px}
    .imgbox img{height:300px}
    .txt-cont{font-size:16px;height:60px}
    .txtdetail p{line-height:28px}
    .listtxt .txtdetail{height:147px}
    .step a{width:35px;height:35px}
    .pageState{font-size:15px;line-height:40px}
    .cont2{height:360px}
    .col-3{height:175px}
    .t-title{font-size:18px;margin-bottom:5px}
    .t-cont{height:100px;font-size:15px}
    .c{margin-top:100px}
    .newsDetail .warp1{width:1000px}
    .fixed{width:115px;height:80px;margin-left:-55.25px}
    .Mscroll .Mimgbox{width:84.5%}
    .delop .txtbox{margin-top:18px;min-height:240px}
    .box-img{height:460px}
    .r.listtxt .more{margin-top: 10px}
    .box-txt .txt{font-size: 14px;line-height: 25px}
}